RentOfDucks/Connected Services/ServiceReference/WcfRentOfDucks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfRentOfDucks" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfRentOfDucks" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element minOccurs="0" name="date_beginning" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_expiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_order" type="xs:int" />
      <xs:element minOccurs="0" name="number_black_duck" type="xs:long" />
      <xs:element minOccurs="0" name="number_green_duck" type="xs:long" />
      <xs:element minOccurs="0" name="number_red_duck" type="xs:long" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orders" nillable="true" type="tns:Orders" />
  <xs:complexType name="Ducks">
    <xs:sequence>
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_duck" type="xs:int" />
      <xs:element minOccurs="0" name="number_in_stock" type="xs:long" />
      <xs:element minOccurs="0" name="number_leased" type="xs:long" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ducks" nillable="true" type="tns:Ducks" />
  <xs:complexType name="OrderDuck">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_duck" type="xs:int" />
      <xs:element minOccurs="0" name="id_order" type="xs:int" />
      <xs:element minOccurs="0" name="id_order_duck" type="xs:int" />
      <xs:element minOccurs="0" name="number_duck" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDuck" nillable="true" type="tns:OrderDuck" />
  <xs:complexType name="ArrayOfOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Orders" nillable="true" type="tns:Orders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrders" nillable="true" type="tns:ArrayOfOrders" />
  <xs:complexType name="ArrayOfDucks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ducks" nillable="true" type="tns:Ducks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDucks" nillable="true" type="tns:ArrayOfDucks" />
</xs:schema>